<app-main-nav>
  <form class="finder-form">
    <mat-form-field class="finder-full-width">
      <mat-label>Find</mat-label>
      <input #txtVal matInput placeholder="Type here" (keydown.enter)="applySearch(txtVal.value)" [value]="search_value">
      <button mat-button matSuffix (click)="applySearch(txtVal.value)"><mat-icon>search</mat-icon></button>
    </mat-form-field>
  </form>

  <mat-card *ngIf="(data_clients | keyvalue)?.length">
    <mat-card-content class="overflow-x">
      <div class="client-block" *ngFor="let data_patients of data_clients">
        <h2>{{data_patients.client_name}} ({{data_patients.patients.length}} data(s))</h2>
        <table>
          <thead>
            <tr>
              <th width="5%">No.</th>
              <th width="30%">Code</th>
              <th width="40%">Name</th>
              <th width="5%">Status</th>
              <th width="20%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of data_patients.patients; let i=index">
              <td>{{i+1}}</td>
              <td>{{patient.mhc_code}} ({{patient.type}})</td>
              <td>{{patient.name}}</td>
              <td>{{patient.status_name}}</td>
              <td>
                <a mat-icon-button (click)="viewDetail(patient.id, patient.type)" color="accent"><mat-icon>preview</mat-icon></a>
                <a *ngIf="patient.status_name=='Active' && patient.reg_status==0" mat-icon-button (click)="regPasien(patient.type, patient.id)" color="accent"><mat-icon>app_registration</mat-icon></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</app-main-nav>