<app-main-nav>
    <a mat-button (click)="back()" class="button-back"><mat-icon>arrow_back</mat-icon></a>
    <mat-card>
        <mat-card-header fxLayoutGap="10px">
            <mat-card-title>{{regable.name}}</mat-card-title>
            <mat-card-subtitle>{{regable.mhc_code}}</mat-card-subtitle>
            <span class="toolbar-spacer"></span>
            <button color="primary" mat-flat-button (click)="upload()" [disabled]="submit_disabled"><mat-icon>upload</mat-icon>Submit</button>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="30px">
                <img mat-card-image *ngIf="image_path" class="image-preview" [src]="image_path">
                <span>Max size 1 MB, file must type of image: PNG, JPG, JPEG</span>
                <div class="file-input">
                    <input type="file" id="file" class="file" accept="image/*" required (change)="handleUpload($event)">
                    <label for="file"><mat-icon>folder_open</mat-icon>&nbsp;Choose image</label>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</app-main-nav>