<app-main-nav>
    <a mat-button (click)="back()" class="button-back"><mat-icon>arrow_back</mat-icon></a>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{px.name}}</mat-card-title>
            <mat-card-subtitle>{{type}}</mat-card-subtitle>
            <span class="toolbar-spacer"></span>
            <h2>{{px_status.name}}</h2>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Profile">
                    <table class="custom">
                        <tbody>
                            <tr>
                                <td width="20%">#MHC</td>
                                <td width="80%">{{px.mhc_code}}</td>
                            </tr>
                            <tr>
                                <td>#BPJS</td>
                                <td>{{px.bpjs_code}}</td>
                            </tr>
                            <tr>
                                <td>D.O.B</td>
                                <td>{{px.dob}}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{px.address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </mat-tab>
                <mat-tab label="Work info" *ngIf="type=='karyawan'">
                    <table class="custom">
                        <tbody>
                            <tr>
                                <td width="20%">Work place</td>
                                <td width="80%">{{px_client.name}}</td>
                            </tr>
                            <tr>
                                <td width="20%">Department/position</td>
                                <td width="80%">{{px_department.name}}</td>
                            </tr>
                            <tr>
                                <td>Phone/fax</td>
                                <td>
                                    {{px_client.phone}} / {{px_client.fax}}
                                </td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a target="_blank" href="{{px_client.website}}">{{px_client.website}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </mat-tab>
                <mat-tab label="Uploaded image" *ngIf="reg_by_provider.has_bill">
                    <div class="bill-container">
                        <img src="{{reg_by_provider.file_bill}}">
                    </div>                    
                </mat-tab>
                <mat-tab label="Plafon" *ngIf="px_client.plavon!=null">
                    {{reg_by_provider.plavon}}
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</app-main-nav>