<app-main-nav>
    <form class="registered-filter-form" [formGroup]="formGroup" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="flex-start">
        <mat-form-field fxFlex="0 1 calc(100% - 10px)">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Type here" #txtSearch>
            <button class="submit-filter" mat-button matSuffix aria-label="search" (click)="applySearch(txtSearch.value)">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </form>

    <mat-card *ngIf="(data_registered | keyvalue)?.length">
        <mat-card-content class="overflow-x">
            <p>Page {{paginator.page}} of {{paginator.last_page}}</p>
            <table class="custom">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>#MHC</th>
                        <th>D.O.B</th>
                        <th>#BPJS</th>
                        <th>Reg. date</th>
                        <th>Has bill</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let registered of data_registered; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{registered.regable.name}}<br>{{registered.regable.mhc_code}}</td>
                        <td>{{registered.regable.dob}}</td>
                        <td>{{registered.regable.bpjs_code}}</td>
                        <td>{{registered.created_at}}</td>
                        <td>
                            <mat-icon *ngIf="registered.has_bill">check</mat-icon>
                            <mat-icon *ngIf="!registered.has_bill">close</mat-icon>
                        </td>
                        <td>
                            <a mat-icon-button color="accent" (click)="viewDetail(registered.regable.id, registered.regable_type)"><mat-icon>preview</mat-icon></a>
                            <a *ngIf="!registered.has_bill" mat-icon-button color="accent" (click)="viewUploadBill(registered.id)"><mat-icon>upload</mat-icon></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
        <mat-card-footer>
            <div class="pagination">
                <a (click)="onPrevious()" [ngClass]="paginator.page==1?'disabled':''">&laquo;</a>
                <a class="active">{{paginator.page}}</a>
                <a (click)="onNext()" [ngClass]="paginator.page==paginator.last_page?'disabled':''">&raquo;</a>
            </div>
        </mat-card-footer>
    </mat-card>
</app-main-nav>