/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table.custom {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 30px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.custom thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table.custom th,
table.custom td {
    padding: 12px 15px;
}

table.custom tbody tr {
    border-bottom: 1px solid #dddddd;
}

table.custom tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table.custom tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table.custom tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

a.button-back {
    margin-bottom: 10px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

div.not-data-to-display {
    position: fixed;
    height: 50% !important;
    min-height: unset !important;
}